body {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 50%;
    height: auto;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bonusDisplay {
    color: #F4A140;
    text-align: center;
    font-size: 4rem;
}

#bonusDiv {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#playerN1, #playerN2, #playerN3, #playerN4, #playerN5, #playerN6 {
    padding: 1rem;
    background-color: #F4A140;
    border-radius: .5rem;
    font-size: 1.5rem;
}

#name-0, #name-1, #name-2, #name-3, #name-4, #name-5 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#button-div-0 , #button-div-1 , #button-div-2 , #button-div-3 , #button-div-4, #button-div-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    list-style:none;
}

li {
    margin: 10px;
}

#div-0, #div-1, #div-2, #div-3, #div-4, #div-5 {
    font-size: 2rem;
}

#div-0, #div-1, #div-2, #div-3, #div-4, #div-5
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: .5rem;
}

.title {
    font-weight: semi-bold;
    font-size: 2.5rem;
    margin-top: 2rem;
    padding: 1rem;
    color: white;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#player-names {
    margin-top: 1rem;
    padding: 1.5rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 500px;
    height: 35px;
}

button {
    color: black;
    width: auto;
    font-weight: bold;
    padding: 30px 30px;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    background-color: #F4A140;
    margin: 5px;
}

#buttonPlayer-0, #buttonPlayer-1, #buttonPlayer-2, #buttonPlayer-3, #buttonPlayer-4, #buttonPlayer-5 {
    padding: 2rem !important;
    width: 4rem !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    margin-right: .5rem !important;
    cursor: pointer !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #d17915;
    color: white;
    transition: opacity 0.5s ease-in-out;
}

#result {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 30px;
    color: white;
    text-align: center;
    width: fit-content;
}

#result.show {
    opacity: 1;
}

#bonusBtn {
    border-radius: 1rem;
    background-color: #F4A140;
    padding: 5rem !important;
    width: min-content;
    color: black;
}